@charset "UTF-8";
:root {
  --main-color: rgb(255, 255, 255);
  --color-primary: rgba(43, 88, 59, 0.249);
  --color-secondary: #f3f7f6;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Indie Flower", cursive;
  box-sizing: border-box;
}

.btn-grad a {
  text-transform: uppercase;
  border: 2px black dotted;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  margin: 12px;
  box-shadow: 0px 3px 3px 2px black;
}
.btn-grad a:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

header {
  height: 406px;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: row;
  background-image: url("../public/image/systéme solaire.svg");
}
header .opacity {
  height: 406px;
  width: auto;
  background-color: rgba(131, 183, 188, 0.438);
}
header h1 {
  color: #eee;
}
header p {
  color: rgb(255, 255, 255);
  font-size: 25px;
  text-align: justify;
  font-weight: bold;
}

.account-aside {
  margin-top: 50px;
  display: flex;
  align-items: center;
  padding: 12px;
}
.account-aside .git {
  width: 54px;
  margin: 8px;
}
.account-aside a {
  border: 1px solid #000;
  width: 75px;
  padding: 6px;
  box-shadow: -4px -1px 5px 1px #000;
  background-color: #fff;
  margin: 6px;
}

.nav-fix {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
}

.about-me {
  display: flex;
  flex-direction: row;
  margin-left: 200px;
}
.about-me img {
  width: 50%;
  margin: 20px;
}

section .titre-section {
  transform: translateY(263px) translateX(59px);
  z-index: 132;
  position: absolute;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}
section img.astraunote {
  width: 100px;
  transform: rotate(336deg) translateX(268px);
  filter: drop-shadow(-7px -3px 0px black);
}
section img.dog {
  width: 100px;
  transform: rotate(20deg) translateX(214px);
  filter: drop-shadow(8px 3px 0px black);
  position: absolute;
  z-index: 4;
}
section img.cars-fly {
  width: 200px;
  transform: rotateY(171deg) translateX(-69px) translateY(-499px);
  filter: drop-shadow(8px 3px 0px black);
  position: absolute;
  z-index: 4;
}
section .competence-1 .shape {
  width: auto;
  height: 400px;
  -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 50%, 0% 0%);
          clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 50%, 0% 0%);
  filter: grayscale(50%);
}
section .competence {
  display: flex;
  flex-direction: row;
  align-items: center;
}
section .competence .competence-img {
  display: flex;
  flex-direction: row;
}
section .competence .allskills {
  display: flex;
  flex-wrap: wrap;
}
section .competence .allskills .down-road {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  margin: 40px;
  transition: 1s;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}
section .competence .allskills .down-road:hover {
  transform: scale(1.2) rotate(25deg);
  box-shadow: 1px 0px 6px 0px black;
}
section .competence .allskills .down-road img {
  width: 100px;
  border: 2px solid black;
  background-color: white;
  margin: 10px;
  padding: 2px;
  -o-object-fit: cover;
     object-fit: cover;
}
section .showcase {
  position: relative;
}
section .showcase .letter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
section .formation {
  background-image: url("../public/image/project.jpg");
  background-position: center;
  background-size: contain;
}
section .formation-title {
  text-align: center;
  background-color: #000;
  font-size: 60px;
  color: #fff;
  mix-blend-mode: multiply;
  text-transform: uppercase;
}
section .formation {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  text-align: justify;
  align-items: center;
}
section .formation h1 {
  margin: 12px;
  text-align: center;
  font-size: 30px;
}
section .formation .forming {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  padding: 30px;
  height: 400px;
  margin: 20px;
  width: 350px;
  margin: 20px;
  margin-left: 50px;
}
section .logo .konexio {
  width: 90px;
  transform: translate(92px, -17px);
  background-color: white;
  border: 2px solid black;
  box-shadow: inset 0px 4px 6px 0px black;
}
section .logo .G2R {
  width: 80px;
  transform: translate(108px, 46px);
  background-color: white;
  border: 2px solid black;
  box-shadow: inset 0px -2px 3px 0px black;
}
section .project-all {
  margin-top: 150px;
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
}
section h1.project-title {
  text-align: center;
}
section .showcase {
  position: relative;
}
section .showcase .letter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
section .formation {
  background-image: url("../public/image/project.jpg");
  background-position: center;
  background-size: contain;
}
section .project-title {
  text-align: center;
  background-color: #000;
  font-size: 60px;
  color: #fff;
  mix-blend-mode: multiply;
  text-transform: uppercase;
  margin-bottom: 100px;
}
section .project {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
section .project .piano {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section .project .piano img.Piano {
  width: 209px;
  height: 229px;
  border: 2px solid #000;
  -o-object-fit: contain;
  object-fit: contain;
}
section .project .rubban {
  position: relative;
  left: 0px;
  top: -299px;
  transition: 1s;
  opacity: 1;
}
section .project .rubban img {
  width: 209px;
  height: 229px;
  transition: 1s;
}
section .project .rubban:hover {
  opacity: 0;
}
section .project .rubban a {
  position: absolute;
  color: #ffffff;
  text-decoration: underline;
  left: 89px;
  top: 96px;
  text-decoration: none;
  font-size: 21px;
  text-transform: uppercase;
}
section .project .language {
  border: 9px solid #000;
}
section .project .language img {
  width: 50px;
  height: 50px;
}
section .showcase {
  position: relative;
}
section .showcase .letter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
section .contact-title {
  text-align: center;
  background-color: #000;
  font-size: 60px;
  color: #fff;
  mix-blend-mode: screen;
  text-transform: uppercase;
}
section .formAll {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: radial-gradient(circle at center center, transparent, rgb(33, 33, 33)), repeating-linear-gradient(135deg, rgb(33, 33, 33) 0px, rgb(33, 33, 33) 2px, transparent 2px, transparent 10px, rgb(33, 33, 33) 10px, rgb(33, 33, 33) 11px, transparent 11px, transparent 21px), repeating-linear-gradient(45deg, rgb(47, 47, 47) 0px, rgb(47, 47, 47) 4px, transparent 4px, transparent 8px), linear-gradient(90deg, rgb(33, 33, 33), rgb(33, 33, 33));
}
section .formAll .form-message {
  height: 200px;
}
section .formAll .form-message h1 {
  text-align: center;
}
section .formAll .form-message .mail {
  width: 100px;
  background-color: #feffff;
  filter: drop-shadow(2px 4px 6px black);
  border: 7px dashed black;
  border-radius: 40%;
  -o-object-fit: contain;
     object-fit: contain;
}
section .formAll img.rocket {
  width: 100px;
  background-color: #feffff;
  border-radius: 50%;
  border: 7px dashed black;
  filter: drop-shadow(2px 4px 6px black);
}/*# sourceMappingURL=styles.css.map */